body{
    margin:0;
background-color: hwb(163 11% 35%);
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
text-align: center;
font-family: 'Times New Roman', Times, serif;
}
.container{
    background-color:rgb(139, 27, 124);
    position: relative;
    height: 500px;
    width: 450px;
    border-radius: 10px;
    padding: 100px;
    box-sizing: border-box;
    box-shadow: 14px 20px 5px  white(227,226,226);
}
.brand-logo{
    height: 100px;
    width: 100px;
    background: url(../CSS/image/download.png);
    margin:auto ;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgb grey;

}
.brand-title{
color: rgb(0, 0, 255);
}
.inputs{
   text-align: left;
   margin-top: 20px;
}
input ,button, label{
    display: block;
    width: 200px;
    border: none;
    box-sizing: border-box;
}
label{
    margin-bottom: 10px;
    color: #009dff;
    
}
input{
    background: white;
    padding: 10px;
    height: 60px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgb grey;
}
button{
    background-color: #009dff;
    color: white;
    margin-top: 20px;
    padding:10px ;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
     box-shadow: 7px 7px 5px rgb(210,209,209) ;

}